@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Roboto+Mono:wght@600&display=swap');

*{
    font-family: 'Roboto Mono', monospace;
}
html, body{
    background-color: black;
    margin: 40px 0 40px 0;
    padding: 0;
}
.title{
    clear: both;
    text-align: center;
    color: white;
}
ul{
    list-style-type: none;
    padding-left: 0;
    text-align: center;
}
p.text{
    font-family: Calibri;
    font-size: 1.5rem;
    color: white;
}
p.en_text{
    color: white;
}
div.paragraphs{
    text-align: center;
    margin: auto;
    width: 50%;
}
.a{
    text-decoration: none;
    color: white;
}
.a:hover{
    color: gold;
}
li .a:hover{
    color: gold;
    font-size: 1.3rem;
}
.inputs{
    border: solid white 2px;
    padding: 10px;
    width: 177px;
    margin: auto;
    color: white;
}
.input{
    background-color: black;
    border-style: solid;
    border-color: white;
    color: white;
    margin-bottom: 10px;
}
.button{
    float: left;
    margin: 0 0 10px 10px;
    border: solid 2px white;
    background-color: black;
    color: white;
}
.button:hover{
    color: gold;
}
.btn{
    display: block;
    margin-right: auto;
    margin-left: auto;
    border: solid 2px white;
    background-color: black;
    color: white;
}
.btn:hover{
    color: gold;
}
.none_style_btn{
    border: none;
    background: none;
}
.error{
    text-align: center;
    color: white;
}
span#error{
    color: red;
}

@media screen and (max-width:900px){
    div.paragraphs{
        text-align: center;
        margin: auto;
        padding: 0 2rem;
        width: auto;
    }
}