{% extends 'base.html' %}
{% load static %}

{% block title %}recover password{% endblock %}
{% block body %}
    <h1 class="title">recover password</h1>
    <h2 class="error">Error : <span id="error">error message</span></h2>
    <div class="inputs" id="inputs">
        <input class="input" type="email" placeholder="email" id="email">
        <button class="btn" onclick="recover_password_request(this)">recover password</button>
    </div>
{% endblock %}
{% block footer_ref %}
    <script src="{% static 'panels_module/js/ajax_forms.js' %}"></script>
{% endblock %}