{% extends 'base.html' %}
{% load static %}

{% block title %}set new password{% endblock %}
{% block body %}
    <h1 class="title">set new password</h1>
    <h2 class="error">Error : <span id="error">error message</span></h2>
    <div class="inputs" id="inputs">
        <input class="input" type="password" placeholder="new password" id="password1">
        <input class="input" type="password" placeholder="confirm password" id="password2">
        <button class="btn" onclick="set_new_password()">confirm new password</button>
    </div>
{% endblock %}
{% block footer_ref %}
    <script src="{% static 'panels_module/js/ajax_forms.js' %}"></script>
{% endblock %}