{% extends 'base.html' %}
{% load static %}
{% load render_partial %}

{% block title %}Tetris{% endblock %}
{% block header_ref %}
    <link id="tetris_style" rel='stylesheet' href='{% static "games_module/css/tetris/tetris_style.css" %}' />
{% endblock %}
{% block body_header %}{% render_partial 'games_module.views.games_header' %}{% endblock %}
{% block body %}
    <h3>play with (↑ ↓ → ←) on keyboard</h3>
    <audio id="clearsound" src="sound/pop.ogg" preload="auto"></audio>
    <canvas width='300' height='600'></canvas>
    <button id="playbutton" onclick="playButtonClicked();">Play</button>
{% endblock %}
{% block footer_ref %}
    <script src='{% static 'games_module/js/tetris/tetris.js' %}'></script>
    <script src='{% static 'games_module/js/tetris/controller.js' %}'></script>
    <script src='{% static 'games_module/js/tetris/render.js' %}'></script>
{% endblock %}